{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}

    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->

    <section class="shop-cart spad">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">

                        <table>
                            <thead>
                                <tr><th>Sr NO.</th>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price|currency}}</td>
                                    <td>{{product|cart_quantity:request.session.cart}}</td>
                                    <td>{{product|price_total:request.session.cart|currency}}</td>
                                    <td class="cart__quantity">

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ </span></li>
                            <li>Total <span>{{products|total_cart_price:request.session.cart|currency}}</span></li>
                        </ul>
                        <a href="/order_place" class="primary-btn" >Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}