{% extends 'base.html' %}

{% block content %}

    <hr>

    <h2 class="subtitle">Account information</h2>

    <p><strong>Name: </strong>{{ request.user }}</p>
    <p><strong>E-mail: </strong>{{ request.user.email }}</p>
    <p><strong>Address: </strong>{{ request.user.userprofile.address }}</p>
    <p><strong>Zip and place: </strong>{{ request.user.userprofile.zipcode }} {{ request.user.userprofile.place }}</p>
    <p><strong>Phone: </strong>{{ request.user.userprofile.phone }}</p>

    <hr>



{% endblock %}